*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}
body{
    overflow-x:hidden;
     font-family:Georgia, serif;
    background:#cfa76a;
}
#home{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
#background{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        to bottom,
        #efd39a 0%,
        #ddb879 45%,
        #c79658 100%
    );
z-index:1;

}
#sand{
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:2;
}
#eyes{
    position:absolute;
    top:18%;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
}

#objects{
    position:absolute;
    inset:0;
    z-index:5;
}
#title{
    position:absolute;
    top:60%;
    left:50%;
      transform:translateX(-50%);

    text-align:center;

    z-index:10;
}

#title h1{
    font-size:4rem;
    color:#432818;
}

#title p{
    margin-top:12px;
    font-size:1.2rem;
    color:#5f4122;
}
#start-btn{
    position:absolute;
    bottom:8%;
    left:50%;
    transform:translateX(-50%);
    padding:16px 40px;
    font-size:1.2rem;
    cursor:pointer;
    border:none;
    z-index:10;
}

#eyes{
    position:absolute;
    top:6%;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
}
#eyptian-eyes{

    width:520px;
    max-width:65vw;

    display: block;
    user-select: none;
    pointer-events: none;
}

#roles{
    width:100%;
    height:100vh;
      display:none;
      background:#C8A26A;
      padding:80px;

}

#roles h2{
    text-align:center;
    font-size:3rem;
   margin-bottom:60px;

}

.role-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
    max-width:900px;
    margin:0 auto;
}

.role-card{

    background:#d8b37a;

    padding:35px;

    border:3px solid #6d4a21;
    cursor:pointer;
    transition:.25s;
}

.role-card:hover{
    transform:translateY(-8px);
}
    